In [1]:
import pandas as pd
from dateutil import parser

# Create dictionaries with the data
department_df = pd.read_csv("Department_Information.csv")
employee_df = pd.read_csv("Employee_Information.csv")
counseling_df = pd.read_csv("Student_Counceling_Information.csv")
performance_df = pd.read_csv("Student_Performance_Data.csv")

# Print the first few rows of each DataFrame to verify
# print("Department Information:")
# print(department_df)

# print("\nEmployee Information:")
# print(employee_df)

# print("\nStudent Counseling Information:")
# print(counseling_df)

# print("\nStudent Performance Date:")
# print(performance_df)

# Printing department ids that are duplicates

#Depertmanet Information Mining

duplicate_ids = department_df['Department_ID'].value_counts()[department_df['Department_ID'].value_counts() > 1].index

if duplicate_ids.empty:
    print("No duplicate Department_IDs found in Department_Information.")
else:
    print("Flag: Duplicate Department_IDs found in Department_Information!")
    print("The duplicate Id's in Department_Information are: \n")

    all_duplicate_ids = pd.DataFrame()

    for Department_ID in duplicate_ids:
        duplicate_row_ids = department_df[department_df['Department_ID'] == Department_ID]
        all_duplicate_ids = pd.concat([all_duplicate_ids, duplicate_row_ids])
    print(all_duplicate_ids[['Department_ID', 'Department_Name', 'DOE']])

# Printing department names that are duplicates
duplicate_name = department_df['Department_Name'].value_counts()[department_df['Department_Name'].value_counts() > 1].index

if duplicate_name.empty:
    print("No duplicate Department_Names found in Department_Information.")
else:
    print("\nFlag: Duplicate Department_Names found in Department_Information!")
    print("The duplicate names in Department_Information are: \n")

    all_duplicate_names = pd.DataFrame()

    for Department_Name in duplicate_name:
        duplicate_row_names = department_df[department_df['Department_Name'] == Department_Name]
        all_duplicate_names = pd.concat([all_duplicate_names, duplicate_row_names])
    print(all_duplicate_names[['Department_ID', 'Department_Name', 'DOE']])

# Printing dates that are over 1900
department_df_copy = department_df.copy()

department_df_copy['DOE'] = department_df_copy['DOE'].astype(str)
department_df_copy['Year_Str'] = department_df_copy['DOE'].str[-4:]
department_df_copy['Year'] = pd.to_numeric(department_df_copy['Year_Str'], errors='coerce')

rows_with_year_below_1900 = department_df_copy[department_df_copy['Year'] < 1900]

if not rows_with_year_below_1900.empty:
    print("\nFlag: Rows with a year lower than 1900 found!")
    print("The years lower than 1900 in Department_Information are: \n")
    print(rows_with_year_below_1900[['Department_ID', 'Department_Name', 'DOE']])
else:
    print("No rows with year lower than 1900 found.")

# Printing any nulls in any attribute
dep_info_with_nulls = department_df[department_df.isnull().any(axis=1)]

# Check if any such rows exist and print them
if not dep_info_with_nulls.empty:
    print("\nFlag: Nulls found in Department_Information!")
    print("The nulls in Department_Information are: \n")
    print(dep_info_with_nulls)
else:
    print("No rows with null values found.")


print()
print(department_df)

print("----------------------------------")

#Student Councelling Information Data Mining
print("Student Counseling Information Table/Data Frame")
print(counseling_df)

# Check for null values in counseling_df
rows_with_nulls_counseling = counseling_df[counseling_df.isnull().any(axis=1)]

# Adjusting index to correspond to row numbers in Excel sheet
if not rows_with_nulls_counseling.empty:
    rows_with_nulls_counseling.reset_index(drop=True, inplace=True)
    rows_with_nulls_counseling.index += 1  # Adding 1 to each index to match Excel sheet row numbers

    # Print the information
    print("\nFlag: Nulls found in Student Counseling Information!")
    print("The rows with null values in Student Counseling Information are: \n")
    print(rows_with_nulls_counseling)
else:
    print("No rows with null values found in Student Counseling Information.")

mismatched_rows = counseling_df[counseling_df['Department_Admission'] != counseling_df['Department_Choices']]

# Flagging the rows where Department Admission doesn't match Department Choice
if not mismatched_rows.empty:
    print("\nFlag: Mismatch between Department Admission and Department_Choices!")
    print("The rows where Department Admission doesn't match Department_Choices are: \n")
    for idx, row in mismatched_rows.iterrows():
        print("Row number:", idx + 2)  # Adding 1 to match Excel sheet row numbers
else:
    print("All rows have matching Department Admission and Department_Choices.")


print("----------------------------------")

Flag: Duplicate Department_IDs found in Department_Information!
The duplicate Id's in Department_Information are:

   Department_ID                                    Department_Name        DOE
11     IDEPT1825                             Mechanical Engineering  9/21/1971
45     IDEPT1825                         Materials Strength Testing  9/21/1971
24     IDEPT7005  Centre of Studies in Resources Engineering (CSRE)  8/22/1966
25     IDEPT7005      Centre of Studies in Craft Engineering (CSCE)  8/22/1966
27     IDEPT9009            Centre for the Study of Ecology in Mars   7/9/2025
39     IDEPT9009                      Laser Technology Enhancements        NaN
15     IDEPT3868          Center for Learning and Teaching (PPCCLT)  3/26/1982
35     IDEPT3868          Center for Learning and Teaching (PPCCLT)  3/26/1982
1      IDEPT5528                     Biosciences and Bioengineering  6/28/1943
21     IDEPT5528                      Sanitation and Digital Gaming        NaN

Flag: Duplicate Department_Names found in Department_Information!
The duplicate names in Department_Information are:

   Department_ID                            Department_Name        DOE
15     IDEPT3868  Center for Learning and Teaching (PPCCLT)  3/26/1982
35     IDEPT3868  Center for Learning and Teaching (PPCCLT)  3/26/1982

Flag: Rows with a year lower than 1900 found!
The years lower than 1900 in Department_Information are:

   Department_ID           Department_Name        DOE
31     IDEPT1677  ABC-EDS Research Academy  7/10/1849

Flag: Nulls found in Department_Information!
The nulls in Department_Information are:

   Department_ID                Department_Name  DOE
21     IDEPT5528  Sanitation and Digital Gaming  NaN
39     IDEPT9009  Laser Technology Enhancements  NaN

   Department_ID                                    Department_Name  \
0      IDEPT4670                              Aerospace Engineering
1      IDEPT5528                     Biosciences and Bioengineering
2      IDEPT3115                               Chemical Engineering
3      IDEPT5881                                          Chemistry
4      IDEPT4938                                  Civil Engineering
5      IDEPT1423                     Computer Science & Engineering
6      IDEPT4132                                     Earth Sciences
7      IDEPT2054                             Electrical Engineering
8      IDEPT2357                     Energy Science and Engineering
9      IDEPT1537                        Humanities & Social Science
10     IDEPT8379                                        Mathematics
11     IDEPT1825                             Mechanical Engineering
12     IDEPT8313      Metallurgical Engineering & Materials Science
13     IDEPT2425                                            Physics
14     IDEPT1378                           Industrial Design Centre
15     IDEPT3868          Center for Learning and Teaching (PPCCLT)
16     IDEPT5127                  Application Software Centre (ASC)
17     IDEPT5408  Centre for Research in Nanotechnology and Scie...
18     IDEPT1142  Centre for Aerospace Systems Design and Engine...
19     IDEPT1367                               Computer Centre (CC)
20     IDEPT7783  Centre for Distance Engineering Education Prog...
21     IDEPT5528                      Sanitation and Digital Gaming
22     IDEPT3062  Centre for Environmental Science and Engineeri...
23     IDEPT1388                    Centre for Policy Studies (CPS)
24     IDEPT7005  Centre of Studies in Resources Engineering (CSRE)
25     IDEPT7005      Centre of Studies in Craft Engineering (CSCE)
26     IDEPT1533  Centre for Technology Alternatives for Rural A...
27     IDEPT9009            Centre for the Study of Ecology in Mars
28     IDEPT3778  Centre for Formal Design and Verification of S...
29     IDEPT4055   Centre for Urban Science and Engineering (C-USE)
30     IDEPT2601                 Centre for Entrepreneurship (DSCE)
31     IDEPT1677                           ABC-EDS Research Academy
32     IDEPT7626  National Centre for Aerospace Innovation and R...
33     IDEPT5109  National Center of Excellence in Technology fo...
34     IDEPT1615              National Centre for Mathematics (NCM)
35     IDEPT3868          Center for Learning and Teaching (PPCCLT)
36     IDEPT6347  Sophisticated Analytical Instrument Facility (...
37     IDEPT8598                       Technology and Design (TCTD)
38     IDEPT8473                   Centre for Bioengineering (WRCB)
39     IDEPT9009                      Laser Technology Enhancements
40     IDEPT1096                               School of Management
41     IDEPT4308                                    Climate Studies
42     IDEPT9999                 Centre for Studies of Mars Ecology
43     IDEPT1836                             Educational Technology
44     IDEPT8825  Industrial Engineering and Operations Research...
45     IDEPT1825                         Materials Strength Testing
46     IDEPT5564                    Systems and Control Engineering

           DOE
0    5/31/1961
1    6/28/1943
2     5/1/1940
3     6/8/2013
4   10/27/1941
5     5/3/1941
6    8/19/1982
7    5/27/1985
8    3/28/2007
9    9/14/1953
10    1/3/1989
11   9/21/1971
12   4/14/1992
13   9/14/1947
14   2/16/1993
15   3/26/1982
16  10/22/1951
17  12/26/1985
18   7/25/1966
19    4/5/2001
20  12/10/1957
21         NaN
22   5/23/1973
23    1/5/1999
24   8/22/1966
25   8/22/1966
26  11/14/1956
27    7/9/2025
28   5/22/1958
29  12/25/1966
30   7/10/1949
31   7/10/1849
32   7/18/1961
33  11/16/1956
34   12/8/1988
35   3/26/1982
36   6/17/1968
37   4/27/1941
38   6/25/2001
39         NaN
40    3/7/2000
41   5/26/1942
42  13/03/2025
43    7/4/1965
44  11/16/1988
45   9/21/1971
46  10/16/1981
----------------------------------
Student Counseling Information Table/Data Frame
       Student_ID       DOA         DOB Department_Choices  \
0     SID20131143  7/1/2013    2/5/1996          IDEPT7783
1     SID20131151  7/1/2013   7/31/1995          IDEPT6347
2     SID20131171  7/1/2013    9/5/1995          IDEPT1836
3     SID20131176  7/1/2013   1/12/1996          IDEPT8473
4     SID20131177  7/1/2013   7/30/1995          IDEPT5528
...           ...       ...         ...                ...
3995  SID20189921  7/1/2018   4/27/2001          IDEPT7005
3996  SID20189926  7/1/2018  12/10/2000          IDEPT1836
3997  SID20189949  7/1/2018   4/15/2001          IDEPT4938
3998  SID20189982  7/1/2018  11/26/2000          IDEPT6347
3999  SID20189989  7/1/2018    4/5/2001          IDEPT3062

     Department_Admission
0               IDEPT7783
1               IDEPT6347
2               IDEPT1836
3               IDEPT8473
4               IDEPT5528
...                   ...
3995            IDEPT7005
3996            IDEPT1836
3997            IDEPT4938
3998            IDEPT6347
3999            IDEPT3062

[4000 rows x 5 columns]

Flag: Nulls found in Student Counseling Information!
The rows with null values in Student Counseling Information are:

    Student_ID       DOA        DOB Department_Choices Department_Admission
1  SID20135073  7/1/2013  12/7/1995                NaN                  NaN

Flag: Mismatch between Department Admission and Department_Choices!
The rows where Department Admission doesn't match Department_Choices are:

Row number: 20
Row number: 70
Row number: 75
Row number: 82
Row number: 118
Row number: 143
Row number: 178
Row number: 181
Row number: 227
Row number: 229
Row number: 241
Row number: 264
Row number: 271
Row number: 291
Row number: 300
Row number: 331
Row number: 353
Row number: 373
Row number: 395
Row number: 429
Row number: 449
Row number: 492
Row number: 494
Row number: 519
Row number: 540
Row number: 569
Row number: 581
Row number: 586
Row number: 614
Row number: 621
Row number: 722
Row number: 735
Row number: 744
Row number: 770
Row number: 820
Row number: 839
Row number: 849
Row number: 860
Row number: 867
Row number: 889
Row number: 906
Row number: 913
Row number: 946
Row number: 961
Row number: 969
Row number: 972
Row number: 1014
Row number: 1035
Row number: 1064
Row number: 1090
Row number: 1112
Row number: 1148
Row number: 1167
Row number: 1174
Row number: 1184
Row number: 1201
Row number: 1239
Row number: 1248
Row number: 1286
Row number: 1304
Row number: 1308
Row number: 1331
Row number: 1363
Row number: 1379
Row number: 1398
Row number: 1400
Row number: 1408
Row number: 1410
Row number: 1497
Row number: 1528
Row number: 1542
Row number: 1574
Row number: 1588
Row number: 1624
Row number: 1630
Row number: 1689
Row number: 1691
Row number: 1700
Row number: 1706
Row number: 1714
Row number: 1740
Row number: 1756
Row number: 1809
Row number: 1829
Row number: 1847
Row number: 1855
Row number: 1858
Row number: 1863
Row number: 1868
Row number: 1870
Row number: 1872
Row number: 1887
Row number: 1894
Row number: 2046
Row number: 2052
Row number: 2067
Row number: 2071
Row number: 2086
Row number: 2128
Row number: 2152
Row number: 2161
Row number: 2170
Row number: 2171
Row number: 2216
Row number: 2258
Row number: 2266
Row number: 2271
Row number: 2277
Row number: 2363
Row number: 2392
Row number: 2406
Row number: 2445
Row number: 2446
Row number: 2475
Row number: 2496
Row number: 2508
Row number: 2517
Row number: 2531
Row number: 2533
Row number: 2536
Row number: 2560
Row number: 2591
Row number: 2593
Row number: 2596
Row number: 2625
Row number: 2626
Row number: 2645
Row number: 2689
Row number: 2750
Row number: 2795
Row number: 2798
Row number: 2811
Row number: 2867
Row number: 2900
Row number: 2906
Row number: 2926
Row number: 2953
Row number: 2966
Row number: 2998
Row number: 3009
Row number: 3058
Row number: 3066
Row number: 3084
Row number: 3085
Row number: 3143
Row number: 3168
Row number: 3172
Row number: 3204
Row number: 3208
Row number: 3267
Row number: 3268
Row number: 3277
Row number: 3342
Row number: 3372
Row number: 3376
Row number: 3409
Row number: 3434
Row number: 3455
Row number: 3469
Row number: 3493
Row number: 3501
Row number: 3511
Row number: 3528
Row number: 3543
Row number: 3561
Row number: 3569
Row number: 3598
Row number: 3599
Row number: 3610
Row number: 3612
Row number: 3618
Row number: 3627
Row number: 3638
Row number: 3654
Row number: 3725
Row number: 3768
Row number: 3772
Row number: 3861
Row number: 3873
Row number: 3976

In [1]:
#Student Counceling Information

import pandas as pd
from dateutil import parser

# Create dictionaries with the data
counseling_df = pd.read_csv("Student_Counceling_Information.csv")


#Student Councelling Information Data Mining
print("Student Counseling Information Table/Data Frame")
print(counseling_df)

# Check for null values in counseling_df
rows_with_nulls_counseling = counseling_df[counseling_df.isnull().any(axis=1)]

# Adjusting index to correspond to row numbers in Excel sheet
if not rows_with_nulls_counseling.empty:
    rows_with_nulls_counseling.reset_index(drop=True, inplace=True)
    rows_with_nulls_counseling.index += 1  # Adding 1 to each index to match Excel sheet row numbers

    # Print the information
    print("\nFlag: Nulls found in Student Counseling Information!")
    print("The rows with null values in Student Counseling Information are: \n")
    print(rows_with_nulls_counseling)
else:
    print("No rows with null values found in Student Counseling Information.")

mismatched_rows = counseling_df[counseling_df['Department_Admission'] != counseling_df['Department_Choices']]

# Flagging the rows where Department Admission doesn't match Department Choice
if not mismatched_rows.empty:
    print("\nFlag: Mismatch between Department Admission and Department_Choices!")
    print("The rows where Department Admission doesn't match Department_Choices are: \n")
    for idx, row in mismatched_rows.iterrows():
        print("Row number:", idx + 2)  # Adding 1 to match Excel sheet row numbers
else:
    print("All rows have matching Department Admission and Department_Choices.")

print()
print("----------------------------------")

Student Counseling Information Table/Data Frame
       Student_ID       DOA         DOB Department_Choices  \
0     SID20131143  7/1/2013    2/5/1996          IDEPT7783
1     SID20131151  7/1/2013   7/31/1995          IDEPT6347
2     SID20131171  7/1/2013    9/5/1995          IDEPT1836
3     SID20131176  7/1/2013   1/12/1996          IDEPT8473
4     SID20131177  7/1/2013   7/30/1995          IDEPT5528
...           ...       ...         ...                ...
3995  SID20189921  7/1/2018   4/27/2001          IDEPT7005
3996  SID20189926  7/1/2018  12/10/2000          IDEPT1836
3997  SID20189949  7/1/2018   4/15/2001          IDEPT4938
3998  SID20189982  7/1/2018  11/26/2000          IDEPT6347
3999  SID20189989  7/1/2018    4/5/2001          IDEPT3062

     Department_Admission
0               IDEPT7783
1               IDEPT6347
2               IDEPT1836
3               IDEPT8473
4               IDEPT5528
...                   ...
3995            IDEPT7005
3996            IDEPT1836
3997            IDEPT4938
3998            IDEPT6347
3999            IDEPT3062

[4000 rows x 5 columns]

Flag: Nulls found in Student Counseling Information!
The rows with null values in Student Counseling Information are:

    Student_ID       DOA        DOB Department_Choices Department_Admission
1  SID20135073  7/1/2013  12/7/1995                NaN                  NaN

Flag: Mismatch between Department Admission and Department_Choices!
The rows where Department Admission doesn't match Department_Choices are:

Row number: 20
Row number: 70
Row number: 75
Row number: 82
Row number: 118
Row number: 143
Row number: 178
Row number: 181
Row number: 227
Row number: 229
Row number: 241
Row number: 264
Row number: 271
Row number: 291
Row number: 300
Row number: 331
Row number: 353
Row number: 373
Row number: 395
Row number: 429
Row number: 449
Row number: 492
Row number: 494
Row number: 519
Row number: 540
Row number: 569
Row number: 581
Row number: 586
Row number: 614
Row number: 621
Row number: 722
Row number: 735
Row number: 744
Row number: 770
Row number: 820
Row number: 839
Row number: 849
Row number: 860
Row number: 867
Row number: 889
Row number: 906
Row number: 913
Row number: 946
Row number: 961
Row number: 969
Row number: 972
Row number: 1014
Row number: 1035
Row number: 1064
Row number: 1090
Row number: 1112
Row number: 1148
Row number: 1167
Row number: 1174
Row number: 1184
Row number: 1201
Row number: 1239
Row number: 1248
Row number: 1286
Row number: 1304
Row number: 1308
Row number: 1331
Row number: 1363
Row number: 1379
Row number: 1398
Row number: 1400
Row number: 1408
Row number: 1410
Row number: 1497
Row number: 1528
Row number: 1542
Row number: 1574
Row number: 1588
Row number: 1624
Row number: 1630
Row number: 1689
Row number: 1691
Row number: 1700
Row number: 1706
Row number: 1714
Row number: 1740
Row number: 1756
Row number: 1809
Row number: 1829
Row number: 1847
Row number: 1855
Row number: 1858
Row number: 1863
Row number: 1868
Row number: 1870
Row number: 1872
Row number: 1887
Row number: 1894
Row number: 2046
Row number: 2052
Row number: 2067
Row number: 2071
Row number: 2086
Row number: 2128
Row number: 2152
Row number: 2161
Row number: 2170
Row number: 2171
Row number: 2216
Row number: 2258
Row number: 2266
Row number: 2271
Row number: 2277
Row number: 2363
Row number: 2392
Row number: 2406
Row number: 2445
Row number: 2446
Row number: 2475
Row number: 2496
Row number: 2508
Row number: 2517
Row number: 2531
Row number: 2533
Row number: 2536
Row number: 2560
Row number: 2591
Row number: 2593
Row number: 2596
Row number: 2625
Row number: 2626
Row number: 2645
Row number: 2689
Row number: 2750
Row number: 2795
Row number: 2798
Row number: 2811
Row number: 2867
Row number: 2900
Row number: 2906
Row number: 2926
Row number: 2953
Row number: 2966
Row number: 2998
Row number: 3009
Row number: 3058
Row number: 3066
Row number: 3084
Row number: 3085
Row number: 3143
Row number: 3168
Row number: 3172
Row number: 3204
Row number: 3208
Row number: 3267
Row number: 3268
Row number: 3277
Row number: 3342
Row number: 3372
Row number: 3376
Row number: 3409
Row number: 3434
Row number: 3455
Row number: 3469
Row number: 3493
Row number: 3501
Row number: 3511
Row number: 3528
Row number: 3543
Row number: 3561
Row number: 3569
Row number: 3598
Row number: 3599
Row number: 3610
Row number: 3612
Row number: 3618
Row number: 3627
Row number: 3638
Row number: 3654
Row number: 3725
Row number: 3768
Row number: 3772
Row number: 3861
Row number: 3873
Row number: 3976

----------------------------------

In [11]:


#Student Performance Data
import pandas as pd
from dateutil import parser

performance_df = pd.read_csv("Student_Performance_Data.csv")

print(performance_df)

#Finding Invalid Marks

invalid_marks = performance_df[~performance_df['Marks'].astype(str).str.match(r'^\d+(\.\d+)?$') | (performance_df['Marks'] < 0) | (performance_df['Marks'] > 100)]

if not invalid_marks.empty:
    print("\nFlag: Invalid Marks found in Student Performance Data!")
    print("The rows where Marks are not between 0 and 100 are: \n")
    for idx, row in invalid_marks.iterrows():
        print(f"Row number: {idx + 2} - {row.to_string(index=False)}")  # Adding 2 to match Excel sheet row numbers
else:
    print("All Marks are within the range of 0 to 100.")

#Displaying Table without the marks that are invalid

valid_performance_df = performance_df[(performance_df['Marks'] >= 0) & (performance_df['Marks'] <= 100)]

print("\nStudent Performance Data after filtering out rows with invalid Marks:")
print(valid_performance_df)

#Finding invalid hours

invalid_hours = performance_df[performance_df['Effort_Hours'] < 0]

if not invalid_hours.empty:
    print("\nFlag: Rows with negative Hours found in Student Performance Data!")
    print("The rows where Hours are negative are: \n")
    for idx, row in invalid_hours.iterrows():
        print(f"Row number: {idx + 2} - {row.to_string(index=False)}")  # Adding 2 to match Excel sheet row numbers
else:
    print("All Hours are non-negative.")

#Displaying table without the hours that are invalid

valid_performance_df = performance_df[performance_df['Effort_Hours'] >= 0]

# Display the DataFrame
print("\nStudent Performance Data after filtering out rows with invalid Hours:")
print(valid_performance_df)

         Student_ID Semster_Name     Paper_ID Paper_Name  Marks  Effort_Hours
0       SID20131143        Sem_1  SEMI0012995    Paper 1   44.0           5.0
1       SID20131143        Sem_1  SEMI0015183    Paper 2   74.0           8.0
2       SID20131143        Sem_1  SEMI0018371    Paper 3   80.0           8.0
3       SID20131143        Sem_1  SEMI0015910    Paper 4   44.0           5.0
4       SID20131143        Sem_1  SEMI0016208    Paper 5   95.0          12.0
...             ...          ...          ...        ...    ...           ...
209605  SID20189989        Sem_8  SEMI0082598    Paper 3   94.0          12.0
209606  SID20189989        Sem_8  SEMI0088030    Paper 4   49.0           5.0
209607  SID20189989        Sem_8  SEMI0081794    Paper 5   47.0         257.0
209608  SID20189989        Sem_8  SEMI0086600    Paper 6   87.0          11.0
209609  SID20189989        Sem_8  SEMI0083259    Paper 6   73.0           8.0

[209610 rows x 6 columns]

Flag: Invalid Marks found in Student Performance Data!
The rows where Marks are not between 0 and 100 are:

Row number: 330 - SID20131189
      Sem_1
SEMI0015910
    Paper 4
      -49.0
        0.0
Row number: 416 - SID20131191
      Sem_5
SEMI0055015
    Paper 6
      207.0
       14.0
Row number: 553 - SID20131231
      Sem_1
SEMI0016208
    Paper 5
     -100.0
       14.0
Row number: 842 - SID20131303
      Sem_3
SEMI0031818
    Paper 4
      140.0
       14.0
Row number: 172220 - SID20179280
      Sem_4
SEMI0044518
    Paper 6
        NaN
        NaN
Row number: 181490 - SID20182774
      Sem_8
SEMI0086600
    Paper 6
      999.0
        5.0
Row number: 209595 - SID20189989
      Sem_6
SEMI0064181
    Paper 4
        NaN
        6.0

Student Performance Data after filtering out rows with invalid Marks:
         Student_ID Semster_Name     Paper_ID Paper_Name  Marks  Effort_Hours
0       SID20131143        Sem_1  SEMI0012995    Paper 1   44.0           5.0
1       SID20131143        Sem_1  SEMI0015183    Paper 2   74.0           8.0
2       SID20131143        Sem_1  SEMI0018371    Paper 3   80.0           8.0
3       SID20131143        Sem_1  SEMI0015910    Paper 4   44.0           5.0
4       SID20131143        Sem_1  SEMI0016208    Paper 5   95.0          12.0
...             ...          ...          ...        ...    ...           ...
209605  SID20189989        Sem_8  SEMI0082598    Paper 3   94.0          12.0
209606  SID20189989        Sem_8  SEMI0088030    Paper 4   49.0           5.0
209607  SID20189989        Sem_8  SEMI0081794    Paper 5   47.0         257.0
209608  SID20189989        Sem_8  SEMI0086600    Paper 6   87.0          11.0
209609  SID20189989        Sem_8  SEMI0083259    Paper 6   73.0           8.0

[209603 rows x 6 columns]

Flag: Rows with negative Hours found in Student Performance Data!
The rows where Hours are negative are:

Row number: 59637 - SID20147406
      Sem_6
SEMI0067259
    Paper 2
       78.0
       -3.0

Student Performance Data after filtering out rows with invalid Hours:
         Student_ID Semster_Name     Paper_ID Paper_Name  Marks  Effort_Hours
0       SID20131143        Sem_1  SEMI0012995    Paper 1   44.0           5.0
1       SID20131143        Sem_1  SEMI0015183    Paper 2   74.0           8.0
2       SID20131143        Sem_1  SEMI0018371    Paper 3   80.0           8.0
3       SID20131143        Sem_1  SEMI0015910    Paper 4   44.0           5.0
4       SID20131143        Sem_1  SEMI0016208    Paper 5   95.0          12.0
...             ...          ...          ...        ...    ...           ...
209605  SID20189989        Sem_8  SEMI0082598    Paper 3   94.0          12.0
209606  SID20189989        Sem_8  SEMI0088030    Paper 4   49.0           5.0
209607  SID20189989        Sem_8  SEMI0081794    Paper 5   47.0         257.0
209608  SID20189989        Sem_8  SEMI0086600    Paper 6   87.0          11.0
209609  SID20189989        Sem_8  SEMI0083259    Paper 6   73.0           8.0

[209608 rows x 6 columns]

In [ ]:
#Neccesary Calculations

import pandas as pd
from dateutil import parser