In [53]:
import pandas as pd
from dateutil import parser

# Create dictionaries with the data
department_df = pd.read_csv("Department_Information.csv")
employee_df = pd.read_csv("Employee_Information.csv")
counseling_df = pd.read_csv("Student_Counceling_Information.csv")
performance_df = pd.read_csv("Student_Performance_Data.csv")

# Finding duplicate Department_IDs
duplicate_ids = department_df['Department_ID'].value_counts()[department_df['Department_ID'].value_counts() > 1].index

# Prints that there is or no duplicates, and prints any duplicates if there are some
if duplicate_ids.empty:
    print("No duplicate Department_IDs found in Department_Information.")
else:
    print("Flag: Duplicate Department_IDs found in Department_Information!")
    print("The duplicate IDs in Department_Information are: \n")

    all_duplicate_ids = pd.DataFrame()

    for Department_ID in duplicate_ids:
        duplicate_row_ids = department_df[department_df['Department_ID'] == Department_ID]
        all_duplicate_ids = pd.concat([all_duplicate_ids, duplicate_row_ids])
    print(all_duplicate_ids[['Department_ID', 'Department_Name', 'DOE']])

print("----------------------------------")

# Printing department names that are duplicates
duplicate_name = department_df['Department_Name'].value_counts()[department_df['Department_Name'].value_counts() > 1].index

if duplicate_name.empty:
    print("No duplicate Department_Names found in Department_Information.")
else:
    print("\nFlag: Duplicate Department_Names found in Department_Information!")
    print("The duplicate names in Department_Information are: \n")

    all_duplicate_names = pd.DataFrame()

    for Department_Name in duplicate_name:
        duplicate_row_names = department_df[department_df['Department_Name'] == Department_Name]
        all_duplicate_names = pd.concat([all_duplicate_names, duplicate_row_names])
    print(all_duplicate_names[['Department_ID', 'Department_Name', 'DOE']])

print("----------------------------------")

# Printing dates that are over 1900
department_df_copy = department_df.copy()

department_df_copy['DOE'] = department_df_copy['DOE'].astype(str)
department_df_copy['Year_Str'] = department_df_copy['DOE'].str[-4:]
department_df_copy['Year'] = pd.to_numeric(department_df_copy['Year_Str'], errors='coerce')

rows_with_year_below_1900 = department_df_copy[department_df_copy['Year'] < 1900]

if not rows_with_year_below_1900.empty:
    print("\nFlag: Rows with a year lower than 1900 found!")
    print("The years lower than 1900 in Department_Information are: \n")
    print(rows_with_year_below_1900[['Department_ID', 'Department_Name', 'DOE']])
else:
    print("No rows with year lower than 1900 found.")

print("----------------------------------")

# Printing any nulls in any attribute
dep_info_with_nulls = department_df[department_df.isnull().any(axis=1)]

if not dep_info_with_nulls.empty:
    print("\nFlag: Nulls found in Department_Information!")
    print("The nulls in Department_Information are: \n")
    print(dep_info_with_nulls)
else:
    print("No rows with null values found.")

print("----------------------------------")

Flag: Duplicate Department_IDs found in Department_Information!
The duplicate IDs in Department_Information are:

   Department_ID                                    Department_Name        DOE
11     IDEPT1825                             Mechanical Engineering  9/21/1971
45     IDEPT1825                         Materials Strength Testing  9/21/1971
24     IDEPT7005  Centre of Studies in Resources Engineering (CSRE)  8/22/1966
25     IDEPT7005      Centre of Studies in Craft Engineering (CSCE)  8/22/1966
27     IDEPT9009            Centre for the Study of Ecology in Mars   7/9/2025
39     IDEPT9009                      Laser Technology Enhancements        NaN
15     IDEPT3868          Center for Learning and Teaching (PPCCLT)  3/26/1982
35     IDEPT3868          Center for Learning and Teaching (PPCCLT)  3/26/1982
1      IDEPT5528                     Biosciences and Bioengineering  6/28/1943
21     IDEPT5528                      Sanitation and Digital Gaming        NaN
----------------------------------

Flag: Duplicate Department_Names found in Department_Information!
The duplicate names in Department_Information are:

   Department_ID                            Department_Name        DOE
15     IDEPT3868  Center for Learning and Teaching (PPCCLT)  3/26/1982
35     IDEPT3868  Center for Learning and Teaching (PPCCLT)  3/26/1982
----------------------------------

Flag: Rows with a year lower than 1900 found!
The years lower than 1900 in Department_Information are:

   Department_ID           Department_Name        DOE
31     IDEPT1677  ABC-EDS Research Academy  7/10/1849
----------------------------------

Flag: Nulls found in Department_Information!
The nulls in Department_Information are:

   Department_ID                Department_Name  DOE
21     IDEPT5528  Sanitation and Digital Gaming  NaN
39     IDEPT9009  Laser Technology Enhancements  NaN
----------------------------------

In [58]:
#Student Counceling Information

import pandas as pd
from dateutil import parser

# Create dictionaries with the data
counseling_df = pd.read_csv("Student_Counceling_Information.csv")

# Check for null values in counseling_df
rows_with_nulls_counseling = counseling_df[counseling_df.isnull().any(axis=1)]

# Adjusting index to correspond to row numbers in Excel sheet
if not rows_with_nulls_counseling.empty:
    rows_with_nulls_counseling.reset_index(drop=True, inplace=True)
    rows_with_nulls_counseling.index += 1 

    # Print the information
    print("\nFlag: Nulls found in Student Counseling Information!")
    print("The rows with null values in Student Counseling Information are: \n")
    print(rows_with_nulls_counseling)
else:
    print("No rows with null values found in Student Counseling Information.")

print("----------------------------------")

mismatched_rows = counseling_df[counseling_df['Department_Admission'] != counseling_df['Department_Choices']]

# Flagging the rows where Department Admission doesn't match Department Choice
if not mismatched_rows.empty:
    print("\nFlag: Mismatch between Department Admission and Department_Choices!")
    print("The rows where Department Admission doesn't match Department_Choices are: \n")
    print(mismatched_rows)
else:
    print("All rows have matching Department Admission and Department_Choices.")

print("----------------------------------")

Flag: Nulls found in Student Counseling Information!
The rows with null values in Student Counseling Information are:

    Student_ID       DOA        DOB Department_Choices Department_Admission
1  SID20135073  7/1/2013  12/7/1995                NaN                  NaN
----------------------------------

Flag: Mismatch between Department Admission and Department_Choices!
The rows where Department Admission doesn't match Department_Choices are:

       Student_ID       DOA         DOB Department_Choices  \
18    SID20131364  7/1/2013    7/3/1996          IDEPT5881
68    SID20132095  7/1/2013    8/3/1995          IDEPT1533
73    SID20132193  7/1/2013   11/5/1995          IDEPT4938
80    SID20132300  7/1/2013   1/19/1996          IDEPT3868
116   SID20132830  7/1/2013  12/30/1995          IDEPT1378
...           ...       ...         ...                ...
3766  SID20186640  7/1/2018  12/17/2000          IDEPT1537
3770  SID20186668  7/1/2018   12/2/2000          IDEPT5408
3859  SID20188020  7/1/2018    1/6/2001          IDEPT7626
3871  SID20188220  7/1/2018   6/20/2001          IDEPT1367
3974  SID20189686  7/1/2018  10/26/2000          IDEPT1096

     Department_Admission
18              IDEPT9999
68              IDEPT5528
73              IDEPT4055
80              IDEPT2425
116             IDEPT1423
...                   ...
3766            IDEPT5127
3770            IDEPT1142
3859            IDEPT4308
3871            IDEPT3062
3974            IDEPT1537

[180 rows x 5 columns]
----------------------------------

In [67]:
#Student Performance Data
import pandas as pd
from dateutil import parser

performance_df = pd.read_csv("Student_Performance_Data.csv")

#Finding Invalid Marks
rows_with_invalid_marks = performance_df[(performance_df['Marks'] < 0) | (performance_df['Marks'] > 100)]

print("Flag: Rows with invalid marks found in Student_Performance_Data!")
print("The rows where marks are invalid are: \n")
print(rows_with_invalid_marks)

#Displaying Table without the marks that are invalid
valid_performance_df = performance_df[(performance_df['Marks'] >= 0) & (performance_df['Marks'] <= 100)]

print("\nStudent Performance Data after filtering out rows with invalid Marks:")
print()
print(valid_performance_df)

print("----------------------------------")

#Finding invalid hours
invalid_hours = performance_df[performance_df['Effort_Hours'] < 0]

if not invalid_hours.empty:
    print("\nFlag: Rows with negative Hours found in Student Performance Data!")
    print("The rows where Hours are negative are: \n")
    print(invalid_hours)
else:
    print("All Hours are non-negative.")

#Displaying table without the hours that are invalid
valid_performance_df = performance_df[performance_df['Effort_Hours'] >= 0]

#Display the DataFrame
print("\nStudent Performance Data after filtering out rows with invalid Hours:")
print()
print(valid_performance_df)

print("----------------------------------")

#Printing rows that find a student id that has a more than 1 mark per paper
is_duplicate = performance_df.duplicated(subset=['Student_ID', 'Paper_ID'], keep=False)
duplicates_df = performance_df[is_duplicate]
if duplicates_df.empty:
    print("No duplicates based on the combination of Student_ID and Paper_ID were found.")
else:
    print("\nFlag: Duplicate rows based on the combination of Student_ID and Paper_ID found!")
    print("The duplicate rows are: \n")
    print(duplicates_df)

print("----------------------------------")

#printing any missing values in student_performance_data and discard them
performance_info_with_nulls = performance_df[performance_df.isnull().any(axis=1)]

if not performance_info_with_nulls.empty:
    print("\nFlag: Nulls found in Student_Performance_Data!")
    print("The nulls in Student_Performance_Data are: \n")
    print(performance_info_with_nulls)
else:
    print("No rows with null values found.")

print()
print("Student_Performance_Data after filtering out rows with nulls: \n")
dropped_performance_nulls_df = performance_df.dropna()
print(dropped_performance_nulls_df)

print("----------------------------------")

Flag: Rows with invalid marks found in Student_Performance_Data!
The rows where marks are invalid are:

         Student_ID Semster_Name     Paper_ID Paper_Name  Marks  Effort_Hours
328     SID20131189        Sem_1  SEMI0015910    Paper 4  -49.0           0.0
414     SID20131191        Sem_5  SEMI0055015    Paper 6  207.0          14.0
551     SID20131231        Sem_1  SEMI0016208    Paper 5 -100.0          14.0
840     SID20131303        Sem_3  SEMI0031818    Paper 4  140.0          14.0
181488  SID20182774        Sem_8  SEMI0086600    Paper 6  999.0           5.0

Student Performance Data after filtering out rows with invalid Marks:

         Student_ID Semster_Name     Paper_ID Paper_Name  Marks  Effort_Hours
0       SID20131143        Sem_1  SEMI0012995    Paper 1   44.0           5.0
1       SID20131143        Sem_1  SEMI0015183    Paper 2   74.0           8.0
2       SID20131143        Sem_1  SEMI0018371    Paper 3   80.0           8.0
3       SID20131143        Sem_1  SEMI0015910    Paper 4   44.0           5.0
4       SID20131143        Sem_1  SEMI0016208    Paper 5   95.0          12.0
...             ...          ...          ...        ...    ...           ...
209605  SID20189989        Sem_8  SEMI0082598    Paper 3   94.0          12.0
209606  SID20189989        Sem_8  SEMI0088030    Paper 4   49.0           5.0
209607  SID20189989        Sem_8  SEMI0081794    Paper 5   47.0         257.0
209608  SID20189989        Sem_8  SEMI0086600    Paper 6   87.0          11.0
209609  SID20189989        Sem_8  SEMI0083259    Paper 6   73.0           8.0

[209603 rows x 6 columns]
----------------------------------

Flag: Rows with negative Hours found in Student Performance Data!
The rows where Hours are negative are:

        Student_ID Semster_Name     Paper_ID Paper_Name  Marks  Effort_Hours
59635  SID20147406        Sem_6  SEMI0067259    Paper 2   78.0          -3.0

Student Performance Data after filtering out rows with invalid Hours:

         Student_ID Semster_Name     Paper_ID Paper_Name  Marks  Effort_Hours
0       SID20131143        Sem_1  SEMI0012995    Paper 1   44.0           5.0
1       SID20131143        Sem_1  SEMI0015183    Paper 2   74.0           8.0
2       SID20131143        Sem_1  SEMI0018371    Paper 3   80.0           8.0
3       SID20131143        Sem_1  SEMI0015910    Paper 4   44.0           5.0
4       SID20131143        Sem_1  SEMI0016208    Paper 5   95.0          12.0
...             ...          ...          ...        ...    ...           ...
209605  SID20189989        Sem_8  SEMI0082598    Paper 3   94.0          12.0
209606  SID20189989        Sem_8  SEMI0088030    Paper 4   49.0           5.0
209607  SID20189989        Sem_8  SEMI0081794    Paper 5   47.0         257.0
209608  SID20189989        Sem_8  SEMI0086600    Paper 6   87.0          11.0
209609  SID20189989        Sem_8  SEMI0083259    Paper 6   73.0           8.0

[209608 rows x 6 columns]
----------------------------------
No duplicates based on the combination of Student_ID and Paper_ID were found.
----------------------------------

Flag: Nulls found in Student_Performance_Data!
The nulls in Student_Performance_Data are:

         Student_ID Semster_Name     Paper_ID Paper_Name  Marks  Effort_Hours
125     SID20131171        Sem_3  SEMI0031818        NaN   87.0          11.0
172218  SID20179280        Sem_4  SEMI0044518    Paper 6    NaN           NaN
209593  SID20189989        Sem_6  SEMI0064181    Paper 4    NaN           6.0

Student_Performance_Data after filtering out rows with nulls:

         Student_ID Semster_Name     Paper_ID Paper_Name  Marks  Effort_Hours
0       SID20131143        Sem_1  SEMI0012995    Paper 1   44.0           5.0
1       SID20131143        Sem_1  SEMI0015183    Paper 2   74.0           8.0
2       SID20131143        Sem_1  SEMI0018371    Paper 3   80.0           8.0
3       SID20131143        Sem_1  SEMI0015910    Paper 4   44.0           5.0
4       SID20131143        Sem_1  SEMI0016208    Paper 5   95.0          12.0
...             ...          ...          ...        ...    ...           ...
209605  SID20189989        Sem_8  SEMI0082598    Paper 3   94.0          12.0
209606  SID20189989        Sem_8  SEMI0088030    Paper 4   49.0           5.0
209607  SID20189989        Sem_8  SEMI0081794    Paper 5   47.0         257.0
209608  SID20189989        Sem_8  SEMI0086600    Paper 6   87.0          11.0
209609  SID20189989        Sem_8  SEMI0083259    Paper 6   73.0           8.0

[209607 rows x 6 columns]
----------------------------------

In [ ]:
#Neccesary Calculations
#SID20131151
#SID20149500
#SID20182516

import pandas as pd
from dateutil import parser
import numpy as np
from sklearn.linear_model import LinearRegression

sp = pd.read_csv('Student_Performance_Data.csv')